.wrapper__mypage
  - breadcrumb :admin_index_item, @shop
  = render "layouts/sub-header"

  .mypage__container
    %h1.mypage__container--title 出品商品一覧
    .mypage__container--all
      = render "side-bar"

      .container__right
        .shop__header
          .shop__header--title
            = @shop.name
        .shop__item--title アイテム一覧
        = render "item-list"

  .blank__space
