.wrapper__form
  - breadcrumb :edit_shop, @shop
  = render "layouts/sub-header"

  .form__container
    %h1.form__container--title 店舗情報変更
    .form__container--contents
      = render "form", {shop: @shop}

  .blank__space
