.wrapper__mypage--leave
  - breadcrumb :leave_shop, @shop
  = render "layouts/sub-header"

  .mypage__container
    %h1.mypage__container--title ショップ登録情報
    .mypage__container--all
      = render "side-bar"

      .container__right
        %ul.container__right--info
          %li.info__title 退会手続き
          .container__right--submit
            = link_to "退会しない", admin_shop_path, class: "submit-btn-white"
            = link_to "退会する", shop_path, class: "submit-btn", method: :delete

  .blank__space
