.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  background: #323232;

  &__title {
    width: 30%;
    padding-left: 100px;
    line-height: 50px;
    
    &--name {
      font-weight: bold;
      font-size: 26px;
      text-decoration: none;
      color: white;
    }
  }
  
  &__nav {
    width: 70%;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav__tab {
    width: 100px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    position: relative;

    ul li {
      display: none;
    }
    
    &:hover {
      background-color: black;

      .sub__nav {
        display: block;
        background-color: #fff;
        border: 1px solid $textBorderColorGray;
        width: 180px;
        position: absolute;
        right: 0;

        &--list {
          display: block;
          height: 50px;

          &:hover {
            color: $btnColorBlue;
          }

          .nav__btn {
            text-decoration: none;

            &:hover {
              color: $btnColorBlue;
            }
          }
        }

        #my__shop {
          height: 40px;
          line-height: 40px;
          font-weight: bold;
          border-top: 1px solid $textBorderColorGray;
          border-bottom: 1px solid $textBorderColorGray;
          background: #323232;
          color: white;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
