.wrapper__form
  - breadcrumb :community_recommend_new, @community
  = render "layouts/sub-header"

  .form__container
    %h1.form__container--title レコメンド登録
    .form__container--contents
      = render "form", {recommend: @recommend}

  .blank__space
