.wrapper__cart {
  height: calc(100vh - 50px - 50px);
}

.cart__container {
  width: 980px;
  margin: 0 auto 0;

  &--header {
    padding: 36px 0 0 0;

    .header__title {
      padding: 3px 0 0 46px;
    }

    h1 {
      font-size: 23px;
      margin: 8px 0 0 0;
    }
  }

  &--main {
    margin: 20px 0 0;
    width: 600px;

    .cart__item {
      padding: 0 0 15px;
      width: 600px;

      &--list {
        border-top: none;
        table-layout: auto;

        tbody {
          tr {
            border-bottom: 1px solid #dbdbdb;

            td {
              padding-top: 5px;
            }

            .item__image {
              height: 150px;
              width: 145px;
            }
            
            .item__explain {
              width: 225px;
            }

            .item__price {
              width: 90px;
            }
            
            .item__quantity {
              text-align: center;
              min-width: 94px;
            }

            .item__delete {
              text-align: right;
              width: 55px;
            }
          }
        }
      }

      &--total {
        height: 100px;
        padding: 15px 0 20px 0;
        display: flex;
        justify-content: flex-end;

        &-text {
          margin-right: 110px;
        }
      }

      &--buy {
        text-align: right;
      }
    }
  }
}
