@import "mixin/color";

.wrapper__form {
  height: calc(100% - 50px - 50px - 50px);

  .form__container {
    width: 980px;
    margin: 0 auto 0;

    &--title {
      font-size: 23px;
      height: 40px;
    }

    &--contents {
      background: $backgroundColorGray;
      padding: 36px 48px 40px 48px;
      margin: 60px auto 0;
      border-radius: 4px;

      .category__form {
        display: flex;
      }

      .field {
        border-bottom: 1px solid $borderColorGray;
        height: 80px;

        .label__text {
          display: inline-block;
          line-height: 80px;
          width: 180px;
          padding: 0;
          font-size: 15px;
        }

        .text__field {
          width: 475px;
          border: 1px solid $textBorderColorGray;
          border-radius: 2px;
          padding: 10px 7px;
        }

        .text__field--half {
          width: 225px;
          border: 1px solid $textBorderColorGray;
          border-radius: 2px;
          padding: 10px 7px;
        }

        .year, .month, .day {
          width: 125px;
          border: 1px solid $textBorderColorGray;
          border-radius: 2px;
          padding: 10px 7px;
        }

        .required__item {
          font-weight: bold;
        }

      }

      .field__items {
        border-bottom: 1px solid $borderColorGray;
        width: 100%;
        display: flex;

        .label__text {
          display: inline-block;
          line-height: 80px;
          width: 180px;
          padding: 0;
          font-size: 15px;
        }

        .required__item {
          width: 55px;
          text-align: right;
          margin: 28px 0px 0 5px;
          font-weight: bold;
        }

        .check__box--field {
          display: flex;
          flex-wrap: wrap;

          .check-box {
            width: 100%;
            display: flex;
            margin: 25px 10px 20px 10px;

            &:hover {
              opacity: 0.4;
            }

            &__left {
              padding: 30px 30px 0 20px;
            }

            &__right {
              span.required__label {
                text-align: right;
                display: inline-block;
                width: 80px;
              }

              .item__image {
                margin-top: 10px;
              }

              .check-name, .check-price {
                span.required__label {
                  text-align: right;
                  display: inline-block;
                  width: 80px;
                }
              }
            }

          }
        }
      }

      .stylist-form {
        &__label {
          display: inline-block;
          line-height: 80px;
          width: 180px;
          padding: 0;
          font-size: 15px;
          border-bottom: 1px solid $borderColorGray;
        }
      
        &__input {
          width: 475px;
          border: 1px solid $textBorderColorGray;
          border-radius: 2px;
          padding: 10px 7px;
        }
      
        &__field {
          &:after {
            content: "";
            clear: both;
            display: block;
          }
      
          &--left {
            float: left;
            width: 21%;
          }
      
          &--right {
            float: right;
            width: 79%;
          }
        }
      }
      
      .stylist-user {
        padding: 0 15px;
        line-height: 50px;
        font-size: 14px;
        border-bottom: 1px solid $borderColorGray;
        display: flex;
        justify-content: space-between;
      
        &__name {
          padding-left: 20px;
        }
      
        &__btn {
          cursor: pointer;

          &--add {
            padding-right: 20px;
            color: #38aef0;
          }

          &--remove {
            display: inline-block;
            cursor: pointer;
            padding-right: 20px;
            color: #f05050;
          }
        }
      }      

      .actions {
        .submit-btn {
          width: 270px;
          margin: 25px auto 0 auto;
          font-size: 14px;
          color: #ffffff;
          display: block;
          text-align: center;
          border-radius: 2px;
          padding: 11px 0 8px;
          background: $btnColorBlue;
          cursor: pointer;
          position: relative;
          z-index: 1;
          border: 0;
          -webkit-appearance: none;
        }
      }
    }
  }
  
  .blank__space {
    height: 100px;
  }
}
