@import "mixin/color";

* {
  box-sizing: border-box;
  color: $globalFontColorBlack;
}

.wrapper__toppage {
  height: calc(100% - 50px - 50px);
}

.content__header {
  width: 100%;
  border-bottom: 0;
  background: $backgroundColorGray;

  &--tab {
    width: 980px;
    margin: auto;
    list-style: none;

    .tab__link {
      display: flex;

      .nav__btn {
        text-decoration: none;
      }

      #current {
        background-color: $borderColorGray;
      }

      #passive:hover {
        background-color: $textBorderColorGray;
      }

      &--btn {
        padding: 13px 21px 10px;
        line-height: 1.385;
        color: $fontColorGray;
      }
    }
  }
}

.main__container {
  width: 980px;
  margin: 0 auto 0;
  display: flex;

  &--left {
    z-index: 20;
    padding: 0;
    width: 175px;
    margin: 0;

    .container__search, .container__brand, .container__shop {
      padding: 22px 0 12px;

      &--title {
        font-size: 18px;
      }

      &--list {
        z-index: 1;
        font-size: 13px;

        .click__list {
          margin: 10px 0 0;
          
          a {
            text-decoration: none;
            color: $fontColorDarkgray;
            
            &:hover {
              border-bottom: 1px solid $fontColorDarkgray;
            }
          }
        }
      }
    }

    .container__category, .container__like {
      padding: 22px 0 12px;

      &--list {
        margin: 17px 0 0;
        padding: 0;
        border-top: #ebebeb 1px solid;

        .link__btn {
          text-decoration: none;
        }

        .click__list-js {
          margin: 0;
          line-height: 1.4;
          font-size: 13px;
          display: flex;
          justify-content: space-between;
          border-bottom: solid 1px $iconColorGray;
          position: relative;
          cursor: pointer;

          &:hover {
            background-color: $backgroundColorGray;
          }

          &--text {
            color: $fontColorDarkgray;
            padding: 10px 2px 8px 5px;
            display: block;
          }

          &--icon i {
            color: $iconColorGray;
            margin: 0;
            line-height: 1.4;
          }

          &--child {
            display: none;
            position: absolute;
            top: 0;
            z-index: 20;
            padding: 12px 10px 15px;
            background: #ffffff;
            box-shadow: 0 2px 8px rgba(77,77,77,0.2);
            width: 160px;
            border-radius: 4px;
            overflow: hidden;
            margin-top: -1px;

            .child__list {
              padding: 10px 2px 8px 5px;
              margin: 0;
              line-height: 1.4;
              text-decoration: none;
            }
            
            .child__list--name {
              font-size: 13px;
              color: $fontColorDarkgray;
              
              &:hover {
                font-weight: bold;
                color: $fontColorBlue;
              }
            }
          }
        }
      }

      &--more {
        margin: 18px 0 0;
        text-align: right;

        .link__blue {
          color: $fontColorBlue;
          text-decoration: none;
          font-size: 13px;
          line-height: 1.6;
        }
      }
    }
  }

  &--right {
    width: 795px;

    .container__item {
      border-bottom: solid 1px #ebebeb;
      padding: 22px 0 25px;

      &--title {
        padding-left: 20px;
        font-size: 18px;
      }

      &--more {
        margin: 18px 0 0;
        text-align: right;

        .link__blue {
          color: $fontColorBlue;
          text-decoration: none;
          font-size: 13px;
          line-height: 1.6;
        }
      }
    }
  }
}
