.wrapper__mypage {
  height: calc(100% - 50px - 50px - 50px);

  .mypage__container {
    width: 980px;
    margin: 0 auto 0;

    &--title {
      font-size: 23px;
      height: 40px;
    }

    &--all {
      display: flex;

      .container__left {
        width: 150px;
        margin-right: 50px;
  
        &--menu {
          margin: 23px 0 0;
          padding: 0 0 15px;
          border-bottom: solid 1px #e6e6e6;

          .menu__title {
            text-decoration: none;
            font-size: 14px;

            &:hover {
              color: $btnColorBlue;
            }
          }
        }
      }
  
      .container__right {
        width: 780px;
        margin: 28px 0 0 0;

        &--info {
          background: $backgroundColorGray;
          padding: 36px 48px 40px 48px;
          border: 1px solid $borderColorGray;
          border-radius: 4px;

          .info__title {
            border-bottom: 1px solid $borderColorGray;
            font-size: 18px;
            padding: 0 0 10px 0;
          }

          .info__list {
            display: flex;
            padding: 25px 0 23px 0;
            vertical-align: middle;
            font-size: 15px;
            border-bottom: 1px solid $borderColorGray;
            
            &--label {
              width: 150px;
              margin-right: 50px;
              color: $fontColorGray;
            }

            &--value {
              width: 450px;
              display: flex;

              .avatar__show {
                width: 100px;
                height: 100px;
                border: 1px solid $fontColorGray;
              }

              .stylist__name {
                padding-right: 10px;
              }
            }
          }

          .form__content {
            .actions {
              .submit-btn {
                width: 270px;
                margin: 25px auto 0 auto;
                font-size: 14px;
                color: #ffffff;
                display: block;
                text-align: center;
                border-radius: 2px;
                padding: 11px 0 8px;
                background: $fontColorRed;
                cursor: pointer;
                position: relative;
                z-index: 1;
                border: 0;
                -webkit-appearance: none;
              }
            }
          }
        }
      }
    }
  }

  .blank__space {
    height: 100px;
  }
}
