$globalFontColorBlack: #2d2d2d;
$backgroundColorGray: #f0f0f0;
$borderColorGray: #dcdcdc;
$btnColorBlue: #2490D0;
$fontColorGray: #808080;
$fontColorDarkgray: #646464;
$fontColorBlue: #007ebe;
$iconColorGray: #f2f2f2;
$textBorderColorGray: #c8c8c8;
