.content__header
  .content__header--tab
    .tab__link
      = link_to root_path, class: "nav__btn", id: "current" do
        %li.tab__link--btn すべて
      = link_to "#", class: "nav__btn", id: "passive" do
        %li.tab__link--btn メンズ
      = link_to "#", class: "nav__btn", id: "passive" do
        %li.tab__link--btn レディース
      = link_to "#", class: "nav__btn", id: "passive" do
        %li.tab__link--btn キッズ
