.items__container
  %ul.items__container--list
    - for i in 1..20
      %li.item__list
        .item__thumbnail
          = link_to "#" do
            .item__thumbnail--image
              = image_tag "no_image.png", class: "item__show"
          .item__label テストテストテストテストテスト
          .item__price ¥450000000000000000000000000000
